<div class="flex h-full w-full">
    <% if (dono) { %>
    <div class="absolute left-10 mt-0 text-3xl font-semibold text-gray-500">
        Meu Perfil
    </div>


    <div class="absolute left-15 mt-15 text-2xl font-semibold text-gray-500">
        Sobre Mim:
    </div>
    <div id="desc-view" class="absolute top-35 left-15 w-96 text-gray-700 dark:text-gray-300">
        <p><%- description || "Você ainda não escreveu uma descrição." %></p>

        <button type="button" onclick="toggleEdit()" class="mt-2 h-9 w-16 border-2 rounded-xl text-slate-900 dark:text-slate-200 border-slate-900 dark:border-slate-200 hover:bg-slate-300 dark:hover:bg-slate-800">
            Editar
        </button>
    </div>


    <form id="desc-form" action="/users/<%= userId %>/description" method="POST" class="absolute top-20 left-10 w-96 hidden">
        <label for="description" class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">
            Descrição:
        </label>
        <textarea name="description" id="description" rows="4" class="w-full rounded-lg border-2 border-slate-900 dark:border-slate-200 bg-white dark:bg-slate-800 text-gray-900 dark:text-gray-100 p-2 resize-none"><%- description %></textarea>
        <div class="mt-2 flex gap-4">
            <button type="submit" class="h-10 w-24 border-2 rounded-xl text-slate-900 dark:text-slate-200 border-slate-900 dark:border-slate-200 hover:bg-slate-300 dark:hover:bg-slate-800">
                Salvar
            </button>
            <button type="button" onclick="toggleEdit()" class="h-10 w-24 border border-red-600 text-red-600 hover:bg-red-100 dark:hover:bg-red-800 rounded-xl">
                Cancelar
            </button>
        </div>
    </form>


    <%#
    <div>
        FOTO DE PERFIL
    </div>
    %>

    <form action="/users/logout" method="POST" class="fixed bottom-19 right-40">
        <button type="submit" class="ml-4 h-10 w-20 border-2 rounded-xl text-slate-900 dark:text-slate-200 border-slate-900 dark:border-slate-200 hover:bg-slate-300 dark:hover:bg-slate-800">Logout</button>
    </form>
    

    <% } else { %>
    <div class="absolute left-10 mt-0 text-3xl font-semibold text-gray-500">
        Perfil de <%- username %>
    </div>

    <div class="absolute top-20 left-10 mt-4 w-96 text-gray-700 dark:text-gray-300">
        <p><%- description || "Este usuário ainda não escreveu uma descrição." %></p>
      </div>

    <form action="/users/logout" method="POST" class="fixed bottom-19 right-40">
        <button type="submit" class="ml-4 h-10 w-20 border-2 rounded-xl text-slate-900 dark:text-slate-200 border-slate-900 dark:border-slate-200 hover:bg-slate-300 dark:hover:bg-slate-800">Chat</button>
    </form>
    <% } %>
</div>

<script>
  function toggleEdit() {
    const view = document.getElementById('desc-view');
    const form = document.getElementById('desc-form');

    view.classList.toggle('hidden');
    form.classList.toggle('hidden');
  }
</script>
